.change-pass-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 4rem;
}
.change-pass {
    width: 300px;
    border-radius: .5rem;
    border: 1px solid #e9e5e5;
    box-shadow: 5px 5px 12px 0px rgba(102, 149, 168, 0.18);
    -webkit-box-shadow: 5px 5px 12px 0px rgba(102, 149, 168, 0.18);
    -moz-box-shadow: 5px 5px 12px 0px rgba(102, 149, 168, 0.18);
}

.vid-upload-form >h3 {
    color: white;
}

.vid-upload-form > p {
    font-size: 12px;
    text-align: center;
    color: rgb(178, 186, 194);
    padding: 1rem .3rem;
}

.vid-send-reset {
    display: flex;
    justify-content: space-between;
    padding: .5rem 0rem;
}

.vid-send-reset >:last-child {
    border: none;
    
}

.vid-send-reset >:first-child {
    font-size: 14px;
    font-weight: 600;
    vertical-align: middle;
    align-self: center;
    color: #e9e5e5;
    padding-bottom: .5rem;
}

.user-status {
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
    color: #494545;
    font-weight: 600;
}
.user-status >:last-child {
    margin-left: .5rem;
    font-size: 14px;
    text-align: center;
    place-self: center;
    color: green;
}

.user-stat {
    display: flex;
    justify-content: space-between;
}